.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  color: #ffffff;
  font-weight: 600;
}

.toggleText {
  color: var(--color-primary, #34c94b); /* QTify Green */
  cursor: pointer;
  font-weight: 600;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
  gap: 40px;
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}