.wrapper {
  display: flex;
  align-items: center;
  width: 50%; /* Changed from fixed pixels to percentage */
  max-width: 568px; /* Keeps it from getting too large on desktop */
  min-width: 300px; /* Keeps it from getting too small on mobile */
  height: 48px;
}

.searchButton {
  width: 15px;
  height: 36%;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-left: none; /* Merges the button with the input */
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  
  /* Centering Logic */
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButton img {
  width: 20px;   /* Adjust size as per Figma (usually 20px-24px) */
  height: 20px;
  object-fit: contain; /* Ensures the icon doesn't stretch */
}