:root {
  --color-black: #000000;
  --color-green: #34C94B;
}

.button {
  background-color: var(--color-black);
  color: var(--color-green);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
