.carouselContainer {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 40px;
    OVERFLOW-X: hidden;
}

swiper-container {
  width: 100%;
  height: auto;
  display: block;
}

swiper-slide {
  width: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}